.jumbotron {
	background-color: #009688;
	color: white;
	margin-top: 40px;

}

.btn {
	/*background-color: #607D8B;	*/
}

footer{	
	padding: 5px 10px 0px 20px;
	background-color: #009688; 
	margin-bottom: 0px;
	margin-top: 30px;
}
 
.card-laptop 
{
	color: black;
	background-color: white ;
	flex: 1 300px;
	padding: 2px 0px 0px 0px;	
	margin-top: 2px; 
	/*border: 2px solid;
	border-color:#B2DFDB; */
}

.btn-compra {
	width: 100%;
	border-radius: 0px;	
}

.card-opciones {
	background-color: white;
	padding: 10px 30px 0px 30px;
	/*background-color: yellow;*/
	/*flex: 1 200px*/
	border: 2px solid;
	border-color: #B2DFDB;
	flex: 1 300px;
}

.font-color 
{
	color: black;
}

body {
	background-color:#B2DFDB;
}

.iconos {
	color: black;
	font-size: 2.5rem;
	line-height: 30px;		
}

.footer-address-icon
{
	padding-right: 10px;
}

.tab-content
{
	margin-top:10px;
}

.carrusel
{
	width: 800px;
	height: 400px;
	margin-bottom: 10px;
}