@green: #009688;

.margenes(@top: 0px,@bottom: 0px)
{
	margin-top: @top;
	margin-bottom: @bottom;	
}

.relleno(@top: 0px,@right: 0px,@bottom: 0px,@left: 0px)
{
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;
	padding-left: @left;
}

.jumbotron {
  background-color: @green;
  color: white;
  .margenes(40px,32px);
}

.btn {
  /*background-color: #607D8B;	*/ }

footer {
  .relleno(5px,10px,0px,20px);
  background-color: @green;
  .margenes(30px,0px);
   }

.card-laptop {
  color: black;
  background-color: white;
  flex: 1 300px;
  .relleno(2px,0px,0px,0px);
  .margenes(2px,0px)
  /*border: 2px solid;
	border-color:#B2DFDB; */ }

.btn-compra {
  width: 100%;
  border-radius: 0px; }

.card-opciones {
  background-color: white;
  .relleno(10px,30px,0px,30px);
  /*background-color: yellow;*/
  /*flex: 1 200px*/
  border: 2px solid;
  border-color: #B2DFDB;
  flex: 1 300px; }

.font-color {
  color: black; }

body {
  background-color: #B2DFDB; }

.iconos {
  color: black;
  font-size: 2.5rem;
  line-height: 30px; }

.footer-address-icon {
  .relleno(0px,10px,0px,0px); }

.tab-content {
  .margenes(10px,0px) }

.carrusel {
  width: 800px;
  height: 400px;
  .margenes(0px,10px) }
