$green: #009688;

@mixin margenes($top,$bottom)
{
	margin-top: $top;
	margin-bottom: $bottom;	
}

@mixin relleno($top,$right,$bottom,$left)
{
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}


.jumbotron {
	background-color: $green;
	color: white;
	@include margenes(40px,32px);
}

.btn {
	/*background-color: #607D8B;	*/
}

footer{	
	@include relleno(5px,10px,0px,20px);	
	background-color: $green; 
	@include margenes(30px,0px);
}
 
.card-laptop 
{
	color: black;
	background-color: white ;
	flex: 1 300px;
	@include relleno(2px,0px,0px,0px);
	@include margenes(2px,0px);
	/*border: 2px solid;
	border-color:#B2DFDB; */
}

.btn-compra {
	width: 100%;
	border-radius: 0px;	
}

.card-opciones {
	background-color: white;
	@include relleno(10px,30px,0px,30px);
	/*background-color: yellow;*/
	/*flex: 1 200px*/
	border: 2px solid;
	border-color: #B2DFDB;
	flex: 1 300px;
}

.font-color 
{
	color: black;
}

body {
	background-color:#B2DFDB;
}

.iconos {
	color: black;
	font-size: 2.5rem;
	line-height: 30px;		
}

.footer-address-icon
{
	@include relleno(0px,10px,0px,0px);	
}

.tab-content
{
	@include margenes(10px,0px);	
}

.carrusel
{
	width: 800px;
	height: 400px;
	@include margenes(0px,10px);
}