.jumbotron {
  background-color: #009688;
  color: white;
  margin-top: 40px;
  margin-bottom: 32px; }

.btn {
  /*background-color: #607D8B;	*/ }

footer {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  background-color: #009688;
  margin-top: 30px;
  margin-bottom: 0px; }

.card-laptop {
  color: black;
  background-color: white;
  flex: 1 300px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
  /*border: 2px solid;
	border-color:#B2DFDB; */ }

.btn-compra {
  width: 100%;
  border-radius: 0px; }

.card-opciones {
  background-color: white;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  /*background-color: yellow;*/
  /*flex: 1 200px*/
  border: 2px solid;
  border-color: #B2DFDB;
  flex: 1 300px; }

.font-color {
  color: black; }

body {
  background-color: #B2DFDB; }

.iconos {
  color: black;
  font-size: 2.5rem;
  line-height: 30px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.carrusel {
  width: 800px;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 10px; }
